nav{
    text-align: center;
}
nav > ul{
    display: inline-flex;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-right: 90px;
    padding: 7px 14px;

}
nav li a{
    text-decoration: none;
    padding: 7px 14px;
}
nav li:hover{
    background-color: lightgray;
    border-radius: 25px 50px;
    color:greenyellow
}
nav li ul li{
    display: block;
    padding: 7px 14px;
    margin-top: 10px;
}
nav li .drop{
    display: none;
    position: absolute;
    padding-left: 0;
    
}
nav li:hover .drop{ 
    display: block;
}
header{
    margin-bottom: 100px;
}