nav{
    text-align: center;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 70px;

}
nav li a{
    text-decoration: none;
    padding: 5px 10px;

    

}
nav li:hover{
    background-color: lightgray;
    border-radius: 25px 50px;
    color:greenyellow
}